@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font */
:root {
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-poppins);
  background-color: #ffffff;
}
